@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br/>
    <p>Click <a href="StudentGrades">here</a> to access the GPA calculator (you will have to sign/log in first).</p>
    <br/>
    <p>Please click <a href="https://github.com/HallRules/GPA-Calculator/">here</a> to access the GitHub repo.</p>
</div>
